.container {
    display: flex;
    justify-content: space-between;
}

.form-container {
    width: 45%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.platos1 {
    background-color: #e9d26b;

}

.platos2{
    background-color: #ffe18e;

}

.postre {
    background-color: #fff6d7;

}

.bebidas {
    background-color: #b3f6ff;

}

